@using Pb.Wechat
@using Pb.Wechat.Web.Areas.AppAreaName.Models.Common.Modals
@using Pb.Wechat.Web.Areas.AppAreaName.Models.MpProductTypes
@model CreateOrEditMpProductTypeViewModel

@Html.Partial("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit") + ": " + Model.Title) : L("Create")))

<div class="modal-body">
    <div class="row ">
        <div class="col-xs-12">
            <form id="UploadPicModalForm" method="POST" action="@(AppConsts.MvcAppPath +"AppAreaName/MpProductTypes/SaveAndUpdate")">
                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                }
                <input type="hidden" id="FilePathOrUrl" name="FilePathOrUrl" value="@Model.FilePathOrUrl" />

                <div class="col-xs-8">
                    <div class="form-group form-row-seperated form-md-floating-label">
                        <label for="Title">分类标题</label>
                        <input class="form-control edited" type="text" id="Title" name="Title" value="@Model.Title" required maxlength="50">
                    </div>

                    <div class="form-group form-row-seperated form-md-floating-label">
                        <label for="SortIndex">排序</label>
                        <input class="form-control edited " type="number" id="SortIndex" name="SortIndex" value="@Model.SortIndex">
                    </div>
                </div>

                <div class="col-xs-4">
                    <img id="UploadPicResize" src="@Model.FilePathOrUrl" style="width:250px;height:250px;" />
                    <div class="form-group">
                        <input type="file" id="MediaImage" name="UploadPic" title="上传" />

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
