@using Pb.Wechat
@using Pb.Wechat.MpChannels.Dto
@using Pb.Wechat.Web.Areas.AppAreaName.Models.Common.Modals
@using Pb.Wechat.Web.Areas.AppAreaName.Models.MpChannels
@model CreateOrEditMpChannelViewModel

@Html.Partial("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit") + ": " + Model.Name) : L("Create")))

<div class="modal-body">
    <div>
        <form name="DataForm" role="form" novalidate class="form-validation">
            @if (Model.IsEditMode)
    {
        <input type="hidden" name="Id" value="@Model.Id" />
}
            <input type="hidden" id="StartTime" name="StartTime" value="@Model.StartTime" />
            <input type="hidden" id="EndTime" name="EndTime" value="@Model.EndTime" />
            <input type="hidden" id="MpID" name="MpID" value="@Model.MpID" />
            <input type="hidden" name="ReplyType" value="@Model.ReplyType" required />
            <input type="hidden" name="ImageID" value="@Model.ImageID" />
            <input type="hidden" name="ImageName" value="@Model.ImageName" />
            <input type="hidden" name="ImageMediaID" value="@Model.ImageMediaID" />
            <input type="hidden" name="VideoID" value="@Model.VideoID" />
            <input type="hidden" name="VideoMediaID" value="@Model.VideoMediaID" />
            <input type="hidden" name="VideoName" value="@Model.VideoName" />
            <input type="hidden" name="VoiceID" value="@Model.VoiceID" />
            <input type="hidden" name="VoiceMediaID" value="@Model.VoiceMediaID" />
            <input type="hidden" name="VoiceName" value="@Model.VoiceName" />
            <input type="hidden" name="ArticleGroupID" value="@Model.ArticleGroupID" />
            <input type="hidden" name="ArticleGroupMediaID" value="@Model.ArticleGroupMediaID" />
            <input type="hidden" name="ArticleGroupName" value="@Model.ArticleGroupName" />
            <input type="hidden" name="ArticleID" value="@Model.ArticleID" />
            <input type="hidden" name="ArticleMediaID" value="@Model.ArticleMediaID" />
            <input type="hidden" name="ArticleName" value="@Model.ArticleName" />
            <input type="hidden" name="Content" value="@Model.Content" />
            <input type="hidden" id="IsMcChannel" name="IsMcChannel" value="@Model.IsMcChannel" />
            <input type="hidden" name="Code" value="@Model.Code" />
            <input type="hidden" name="TagIds" value="@Model.TagIds" />
            <input type="hidden" name="TagNames" value="@Model.TagNames" />

            <div class="form-group form-md-line-input form-md-floating-label">
                <label for="Name">名称</label>
                <input class="form-control edited" type="text" name="Name" id="Name" value="@Model.Name" required maxlength="500">
            </div>

            <div class="form-group form-md-line-input form-md-floating-label">
                <label for="EventKey">
                    参数&nbsp; &nbsp;&nbsp;&nbsp;
                    @if (!Model.IsEditMode)
            {
                <input type="checkbox" id="ismckey" /><span>是否美驰活动码</span>
    }
                </label>
                <input class="form-control edited" type="text" name="EventKey" id="EventKey" value="@Model.EventKey" required maxlength="500">
            </div>
            <div class="form-group form-md-line-input form-md-floating-label">
                <label for="ChannelType">类型</label>

                @Html.DropDownListFor(
     c => c.ChannelType,
     EnumHelper.GetEnum(typeof(ChannelType)).Select(c => new SelectListItem() { Value = c.Item1, Text = c.Item2 }),
     new
     {
         @class = "form-control bs-select",
         data_live_search = "true",
         id = "ChannelTypeX"
     })

            </div>

            <div class="form-group form-md-line-input form-md-floating-label validDiv">
                <label for="ValidityDay">有效天数</label>
                <input class="form-control edited" type="text" name="ValidityDay" id="ValidityDay" value="@Model.ValidityDay" required maxlength="500">
            </div>
            @*<div class="form-group form-md-line-input form-md-floating-label">
            <label for="StartTime">有效期</label>
            <input type="text" name="DateRange" class="form-control date-range-picker">
        </div>*@

            <div class="form-group">
                <label for="UserTags">为用户打标签</label>

                <select class="form-control" id="UserTags" multiple="multiple" style="width:100%;">
                    @if (Model.Tags != null)
            {
                @foreach (var item in Model.Tags)
        {
            <option value="@item.Id">
                @item.Name
            </option>
}
    }
                </select>
            </div>
        </form>
    </div>
    <div id="partialView"></div>

</div>
@Html.Partial("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script type="text/javascript">
    
    var isEdit = '@Model.IsEditMode'
</script>