@using Pb.Wechat
@using Pb.Wechat.CYConfigs.Dto
@using Pb.Wechat.Web.Areas.AppAreaName.Models.Common.Modals
@using Pb.Wechat.Web.Areas.AppAreaName.Models.CYConfigs
@model CreateOrEditCYConfigViewModel

@Html.Partial("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit") + ": " + Model.Id) : L("Create")))

<div class="modal-body">
    <form name="DataForm" role="form" novalidate class="form-validation">
        @if (Model.IsEditMode)
        {
            <input type="hidden" name="Id" value="@Model.Id" />
        }
		<div class="form-group form-md-line-input form-md-floating-label">
            <label for="Id">Id</label>
            <input class="form-control edited" type="text" name="Id" value="@Model.Id" required>
        </div>
<div class="form-group form-md-line-input form-md-floating-label">
            <label for="CloseProblemText">CloseProblemText</label>
            <input class="form-control edited" type="text" name="CloseProblemText" value="@Model.CloseProblemText" required>
        </div>
<div class="form-group form-md-line-input form-md-floating-label">
            <label for="CreateProblemText">CreateProblemText</label>
            <input class="form-control edited" type="text" name="CreateProblemText" value="@Model.CreateProblemText" required>
        </div>
<div class="form-group form-md-line-input form-md-floating-label">
            <label for="NoOperationMinute">NoOperationMinute</label>
            <input class="form-control edited" type="text" name="NoOperationMinute" value="@Model.NoOperationMinute" required>
        </div>
<div class="form-group form-md-line-input form-md-floating-label">
            <label for="NoOperationText">NoOperationText</label>
            <input class="form-control edited" type="text" name="NoOperationText" value="@Model.NoOperationText" required>
        </div>
    </form>
</div>
@Html.Partial("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")